.team-row .archive__item-teaser img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* Make all feature row items equal height */
.feature__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.feature__wrapper .feature__item,
.feature__wrapper .feature__item--left,
.feature__wrapper .feature__item--right,
.feature__wrapper .feature__item--center {
  display: flex;
}

.feature__wrapper .archive__item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.feature__wrapper .archive__item-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Push the button to the bottom of each card */
.feature__wrapper .archive__item-body p:last-child {
  margin-top: auto;
}

.page__footer-follow a[href="/feed.xml"] {
  display: none;

/* table modifications - table width*/
.page__content table {
  table-layout: fixed;
  width: 100%;
}

.page__content th:first-child,
.page__content td:first-child {
  width: 25%;
}

.page__content th:last-child,
.page__content td:last-child {
  width: 75%;
}
  
/* table modifications - table colours*/
.page__content table thead th {
  background-color: #11999e !important;
  color: #ffffff !important;
}

.page__content table tr.break-row td {
  background-color: #d6f0f1 !important;
}
